<h2>Create New Blog Post</h2>
<form method="post" action="/posts">
  <input type="text" name="post[name]" id="name">
  <br>
  <br>
  <textarea name="post[content]" id="content"></textarea>
  <br>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
